<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{{ .BasePath }}/">
  <title>Ask a question</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/css/bootstrap.min.css">
</head>

<body>
<header style="margin-bottom: 1em;">
  <nav class="navbar navbar-light bg-light">
    <a href="./" class="navbar-brand">Iwantoask</a>
  </nav>
</header>
<div class="container">
  <form id="form" action="./ask" method="POST" onsubmit="onsubmit">
    <div class="form-group">
      <label for="title">主题</label>
      {{ if .TitleError }}
        <input type="text" class="form-control is-invalid" id="title" name="title" value="{{ .Title }}">
        <small class="invalid-feedback">{{ .TitleError }}</small>
      {{ else }}
        <input type="text" class="form-control" id="title" name="title">
        <small id="emailHelp" class="form-text text-muted">你想了解的核心主题</small>
      {{ end }}
    </div>
    <div class="form-group">
      <label for="detail">描述</label>
      <textarea class="form-control" id="detail" name="detail" rows="10">{{ .Detail }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="./" class="btn btn-outline-primary">返回</a>
  </form>
</div>
</body>
<script>
  document.getElementById('form').onsubmit = function (e) {
    let submitBtn = e.target.querySelector('button[type="submit');
    submitBtn.disabled = true
  }
</script>
</html>
