<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iwantoask - Make something you want to know</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <header style="margin-bottom: 1em;">
    <nav class="navbar navbar-light bg-light">
      <a href="/iwantoask/" class="navbar-brand">Iwantoask</a>
    </nav>
  </header>
  <div class="container" style="margin-bottom: 1em;">
    <a class="btn btn-primary float-right" href="ask">我要提问</a>
    <h3>问题列表</h3>
  </div>
  <div id="app">
    <div class="container">
      <div class="list-group">
        {{ range .Questions }}
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .Title }}</h5>
            <small>{{ .Since }}</small>
          </div>
          <p class="mb-1">{{ .Detail }}</p>
          <small>{{ .AskedBy.Name }}</small>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</body>

</html>